@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Faustina:wght@300&family=PT+Serif&family=Viga&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text&display=swap');

:root{
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'DM Serif Text', serif;
    --fonte3: 'Viga', sans-serif;
}

*{
    margin: 0px;
    padding: 0px;
}

html, body{
    min-height: 100vh;
    background-color: darkgray;
    font-family: var(--fonte3);
}

header{
    background-color: black;
    color: white;
    text-align: center;
}

header > h1 {
    padding-top: 50px;
    text-transform: small-caps;
    font-family: var(--fonte2 );
    font-size: 4em;
}

header > h2 {
    padding-top: 40px;
    text-transform: small-caps;
    font-family: var(--fonte2);
    font-size: 3em;
    background-position: center;
}

header {
    padding-bottom: 50px;
}

a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: bolder;
}

section#preto{
    color: black;
}

a:hover {
    text-decoration: underline;
}

section {
    padding: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 50px;
    font-family: var(--fonte3);
    font-size: 2em;
}

section > p {
    padding-bottom: 2em;
}

section.normal{
    background-color: white;
    color: black;
}

section.imagem {
    background-color: darkgrey;
    color: white;
    box-shadow: 5px 5px 5px 5px;
    border-radius: 5px;
    background-attachment: fixed;
}

section.imagem > p {
    display: inline-block;
    padding: 5px;
   ;
}

section#img001{
    background-image: url(..//imgs/img001.jpg);
    background-position: right center;
}

section#img002{
    background-image: url(..//imgs/img002.jpg);
    background-position: right center;
}

section#img004{
    background-image: url(..//imgs/img004.jpg);
    background-position: center;
}

section#img003{
    background-image: url(..//imgs/img003.jpg);
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}
